.modal-register-form form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem 5rem;
}

.modal-register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.image {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

textarea {
    resize: none;
    height: 12rem;
}

.form-group label {
    font-size: 1rem;
    color: var(--color-secondary);
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
}
.image img {
    width: 50px;
    height: 50px;
}

.upload-btn {
    border: none !important;
    box-shadow: 0 4px 2px #00000029;
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-size: 1.2rem;
    border-radius: 12px;
    padding: 0.5rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border: 2px dashed var(--color-secondary);
    border-radius: 13px;
}

.modal-register-form .multi-select-container, .modal-register-form .select-container {
    width: 20rem;
    height: 2.8rem;
}

.modal-register-form input {
    width: 20rem;
    height: 2.8rem;
}

.input-numeric input {
    width: 10rem;
}
