
#container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-light);

.cont{
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(102, 101, 101, 0.3), 0 5px 12px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
  }
  
  .form{
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    h2{
      color: var(--color-secondary);
    }
  }
  
  h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  

  .sub-cont{
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
  }
  
  .cont.s-signup .sub-cont{
    -webkit-transform:translate3d(-640px, 0, 0);
            transform:translate3d(-640px, 0, 0);
  }
  
  .img{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;

    &:before{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 900px;
      height: 100%;
      background-image: url(../../assets/images/bg.jpg);
      background-size: cover;
      transition: -webkit-transform 1.2s ease-in-out;
      transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    }

    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
    }
    
  }
  
  .cont.s-signup .img:before{
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }
  
  .img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;

    h2{
      margin-bottom: 10px;
      font-weight: normal;
    }

    p{
      font-size: 14px;
      line-height: 1.5;
    }
  }
  
  

  
  .cont.s-signup .img-text.m-up{
    -webkit-transform:translateX(520px);
            transform:translateX(520px);
  }
  
  .img-text.m-in{
    -webkit-transform:translateX(-520px);
            transform:translateX(-520px);
  }
  
  .cont.s-signup .img-text.m-in{
    -webkit-transform:translateX(0);
            transform:translateX(0);
  }
  
  
  .sign-in{
    padding-top: 65px;
    -webkit-transition-timing-function:ease-out;
            transition-timing-function:ease-out;
  }
  
  .cont.s-signup .sign-in{
    -webkit-transition-timing-function:ease-in-out;
            transition-timing-function:ease-in-out;
    -webkit-transition-duration:1.2s;
            transition-duration:1.2s; 
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }
  
  .img-btn{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    background: transparent;
    text-transform: uppercase;
    font-size: 15px;

    &:after{
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 2px solid black;
      border-radius: 30px;
    }

    span{
      position: absolute;
      left: 0;
      top: 0;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack:center;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      -webkit-transition:-webkit-transform 1.2s;
      transition: -webkit-transform 1.2s;
      transition: transform 1.2s;
      transition: transform 1.2s, -webkit-transform 1.2s;
    }

    span.m-in{
      -webkit-transform:translateY(-72px);
              transform:translateY(-72px);
    }
  }

  .cont.s-signup .img-btn span.m-in{
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
  
  .cont.s-signup .img-btn span.m-up{
    -webkit-transform:translateY(72px);
            transform:translateY(72px);
  }
  
  .sign-up{
    -webkit-transform:translate3d(-900px, 0, 0);
            transform:translate3d(-900px, 0, 0);
  }
  
  .cont.s-signup .sign-up{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }

  .img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    p{
      margin-bottom: -40px;
      color: var(--color-secondary);
      z-index: 3;
      font-size: 13px;
    }
  }
  .singin-social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: black;
    width: 200px;
    height: 105px;
    gap: 10px;
    padding-top: 25px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }

  .loginCad{
    cursor: pointer;
  }

  .sign-in-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 30px;
  }

  .forgot-pass{
    color: var(--color-secondary);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 90px;
    margin-top: -25px;
    font-size: 13px;
  }

  .m-up, .m-in{
    font-size: 13px;
    color: var(--color-secondary);
    margin-top: -20px;
  }
}