.float-label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
        font-size: 18px;
        color: var(--text-color-primary);
    }

    input{
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid var(--bg-color-secondary);
        outline: none;
    
        font-size: 15px;
        width: 400px;
        height: 20px;
    }
}
