.tittle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.dark {
  color: var(--dark);
}

.normal {
  color: var(--normal);
}

.light { 
  color: var(--primary);
}

.gg {
  font-size: 3rem;
}

.md {
  font-size: 2rem;
}

.sm {
  font-size: 1rem;
}