.submit-button{
    width: 164px;
    height: 43px;
    background-color: var(--color-regular);
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    margin-top: -10px;
}

.submit-button:hover {
    background-color: var(--color-light);
    transition: 0.3s;
    cursor: pointer;
}