header {
    width: 100%;
    height: 80px;
    background-color: var(--bg-color-header-primary);
    
    nav{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mid{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    nav a{
        color: white;
        text-decoration: none;
    }

    .left, .right {
        width: 150px;
        display: flex;
    }

    .right{
        justify-content: flex-end;
    }
}