.div-main{
    background-color: aqua;
    display: flex;
}
.div-left{
    background-color: red;
    width: 400px;
    padding: 30px;
}
.block{
    margin-top: 20px;
    background-color: white;
    height: 250px;
    width: 320px;
    border-radius: 20px;
}
.blo-tittle{
    height: 50px;
    width: 320px;
    padding-left: 25px;
    padding-top: 25px;
}
.blo-pos-tittle{
    display: flex;
}
.blo-pos-tit-final{
    margin-left: 7px;
    font-size: 17px;
    text-decoration: none;
    color: black;
}
.but-direction{
    margin-left: 114px;
    margin-top: -11px;
}
.button{
    background-color: white;
    border-width: 0px;
    margin: 10px;
    font-size: 18px;
    font-weight: 550;
    color: rgb(120, 158, 120);
}
.blo-calendar{
    margin-top: 10px;
    display: grid;
}
.calendar{
  width: 270px;
}
.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week > * {
  font-size: 0.7em;
  color: var(--blue-grey-400);
  font-weight: 550;
  color: rgb(196, 196, 196);
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

.date-grid button:first-child {
  grid-column: 6;
}

.date-grid button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 3.2ch;
  border-radius: 50%;
  font-size: 14px;
  background-color: transparent;
  color: var(--blue-grey-600);
}

.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: var(--blue-grey-050);
  color: var(--blue-grey-700);
}

.date-grid button:active,
.date-grid button.is-selected {
  background-color: var(--teal-100);
  color: var(--teal-900);
}
.blo-cat{
  width: 250px;
  height: 180px;
  margin: 8px;
  margin-left: 5px;
}

.cat-blo{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.cat-iten{
  margin-left: 5px;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(22, 22, 22);
}

.div-right{
    background-color: rgb(255, 0, 234);
    width: 70%;
    height: 10px;
}
