.submit-button{
    width: 164px;
    height: 43px;
    background-color: var(--bg-color-secondary);
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    margin-top: -10px;
}