.mod-medice{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.mod-tittle{
    display: flex;
}
.mod-cnt-tit{
    width: 320px;
    height: 30px;
    margin: 20px;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-width: 1;
    border-color: rgb(102, 131, 102);
}
.close-btn {
    margin-left: auto;
    width: 5rem;
    height: 3rem;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 28px;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    border: none;
    cursor: pointer;
}
.sub-tit{
    margin-top: -10px;
    width: 320px;
}
.cnt-medice{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 95%;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-color: rgb(102, 131, 102);
}
.img-medice{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.calendar{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(102, 131, 102);
    border-radius: 30px;
}
.pos-calendar{
    margin: 10px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(102, 131, 102);
    border-radius: 30px;
}
.pos-infos{
    margin: 10px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.combination{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.cnt-buttons{
    width: 95%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.item-button{
    height: 40px;
    border-radius: 30px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-style: solid;
    border-width: 1;
    border-color: rgb(102, 131, 102);
    color: rgb(102, 131, 102);
}

.modal-register-footer button:hover {
    cursor: pointer;
}

.edit-btn {
    background-color: #999999 !important;
    color: white;
}
.remed-img-modal{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}