.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-register {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 11;
}

.modal-register-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.modal-register-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal-register-title {
    display: flex;
    align-content: center;
    background-color: var(--color-secondary);
    width: 25rem;
    height: 3rem;
    justify-content: center;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 28px;
}

.modal-register-title h2 {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    align-self: center;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
}

.close-btn {
    width: 5rem;
    height: 3rem;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 28px;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    border: none;
}

.modal-register-footer {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}

.modal-register-footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    border-radius: 20px;
    background-color: var(--color-regular);
    color: white;
    border: none;
    margin-left: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
}

.modal-register-footer .cancel-btn {
    background-color: var(--color-danger);
}

.modal-register-footer .register-btn {
    background-color: var(--color-success);
}
