.agendamento-container {
    background-color: var(--var-bg-primary);
    color: var(--var-text-primary);
}
.navegacao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
}
.nav-itens{
    width: 20%;
    display: flex;
    justify-content: right;
}
.botao-navegacao{
    width: 150px;
    height: 40px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: #48735F;
    border-width: 1px;
    font-weight: 800;
    font-size: 18px;
    color: #48735F;
}
.botao-navegacao:hover{
    background-color: #48735F;
    color: white;
}
.botao-agendar{
    background-color: #48735F;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 45px;
    border-width: 0;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
}
.nav-pesquisa{
    display: flex;
    justify-content: right;
    width: 50%;
    margin-top: 5px;
}
.campo-pesquisa{
    border-radius: 20px;
    width: 250px;
    height: 40px;
    margin: 5px;
    background-color: #f5f5f5;
    border-width: 0;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 13px;
    color: #f5f5f5;
}
.but-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 5px;
    background-color: #48735F;
    border-width: 0;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}
.icone-pesquisa{
    width: 20px;
    height: 20px;
    color: #fff;
}
.cards{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}