.button{
    width: 30%;
    height: 65px;
    margin: 5px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
}
.but-pos{
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
}
.pos-image{
    width: 26%;
    display: flex;
    justify-content: end;
}
.img-border{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}
.icon{
    height: 25px;
    width: 25px;
}
.pos-text{
    margin-left: auto;
    padding-top: 9px;
    align-items: center;
    width: 69%;
    height: 50px;
}