@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans+Caption:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Caption";
}
html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #FFFFFF;
  --normal: #48735F;
  --dark: #2F4A3D;
  --light: #5F967C;
}

.pt-sans caption-regular {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 900;
  font-style: normal;
}