
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Caption";
}
html{
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-primary: #FFFFFF;
  --bg-color-secondary: #48735F;
  --bg-color-login: #5F967C;
  
  --text-color-primary: #2F4A3D;
  --text-color-secondary: #5CB1FF;

  --bg-color-header-primary: #5F967C;
}

.pt-sans caption-regular {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 900;
  font-style: normal;
}