@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html{
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #FFFFFF;
  --color-secondary: #2F4A3D;
  --color-regular: #48735F;
  --color-light: #5F967C;
  --color-hover: #7CC4A2;
  --color-weak: #95EDC4;
  --color-success: #16BF5A;
  --color-danger: #CB0808;
  --color-warning: #ECCD2C;
  
  --text-color-secondary: #5CB1FF;


    --font-primary: "JetBrains Mono", monospace;

}

.pt-sans caption-regular {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 900;
  font-style: normal;
}